<div class="container btn-group-vertical m-3" style="background:rgba(112, 143, 180, 0.521);" > 
    <h1>User Dashboard</h1>    
        <div class="row">
          <div class="col-sm-12 ">
                <button class="btn btn-secondary col-sm-12 " (click)="vbook()">View All Booking</button>
          </div><br><br>
          <div class="col-sm-12 ">
                <button class="btn btn-secondary col-sm-12 "> Older Customer History</button>
          </div><br><br>
          <div class="col-sm-12 ">
                <button class="btn btn-secondary col-sm-12 ">Edit Profile</button>
            </div><br><br>
          <div class="col-sm-12 ">
                <button class="btn btn-secondary col-sm-12 ">Change Password</button>
          </div><br><br>
          <div class="col-sm-12 ">
            <button class="btn btn-secondary col-sm-12 ">Confirmed Orders</button>
          </div><br><br>
          <div class="col-sm-12 ">
            <button class="btn btn-secondary col-sm-12 ">Wallet Status</button>
          </div><br><br>
          <div class="col-sm-12 ">
            <button class="btn btn-secondary col-sm-12 ">Total Pending Amount</button>
          </div><br><br>
          <div   class="col-sm-12 " >
                <button class="btn btn-danger col-sm-12" (click)="slout()">Logout</button>
            </div>
        </div>
</div>
