<div class="container shadow-lg" style="background:rgba(241, 79, 79, 0.8);color:rgb(20, 20, 20);margin-top: 100px">
    <div [formGroup]="UsersigninForm">
           <h1 style="text-align: center">User Signup Form</h1>
       <br>
      <label> Name:</label> <input class="form-control"  type="text"  formControlName="usname"><br>
      <label>Mobile:</label> <input class="form-control"  type="text"  formControlName="usm"><br>
      <label>OTP:</label> <input class="form-control"  type="text"  formControlName="usotp"><br>
       
    
        <button (click)="submit()" class="btn btn-success">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger">Cancel</button>
    </div>
</div>